xmpp.host=127.0.0.1
xmpp.port=5347
xmpp.secretkey=tellnoone

server.domain=example.com
server.domain.channels=buddycloud.example.com
server.domain.topics=topics.example.com

jdbc.proxool.alias=channelserver
jdbc.proxool.driver-url=jdbc:postgresql://localhost:5432/buddycloud
jdbc.proxool.driver-class=org.postgresql.Driver
jdbc.user=buddycloud
jdbc.password=password
jdbc.proxool.maximum-connection-count=10
jdbc.proxool.house-keeping-test-sql=select CURRENT_DATE

# Admin users are sent all notiifcations as well as having access 
# to all posts from the /firehose node (not just from open channels)
users.admin = user1@example.com;crawler@searchengine.org

# A list of channels (local or remote) to which to subscribe new users
# Note that the channels will not be created - they must already exist
channels.autosubscribe=lounge@example.com;welcome@example.com

# If any of the 'channels.autosubscribe' channels are private local channels,
# then whether to automatically approve the user.
# NOTE: This will only work on local private channels
channels.autosubscribe.autoapprove=false

# Channel configuration related to access model and affiliation

channel.configuration.default.accessmodel=open
channel.configuration.default.affiliation=member

# Overrides for default configuration
channel.configuration.posts.affiliation=publisher

channel.configuration.geo.next.accessmodel=authorize
channel.configuration.geo.current.accessmodel=authorize
channel.configuration.geo.previous.accessmodel=authorize