xmpp.host=127.0.0.1
xmpp.port=5347
xmpp.secretkey=tellnoone

server.domain=example.com
server.domain.channels=channels.example.com
server.domain.topics=topics.example.com

jdbc.proxool.driver-url=jdbc:hsqldb:.
jdbc.proxool.driver-class=org.hsqldb.jdbcDriver
jdbc.proxool.alias=buddycloud
jdbc.user=username
jdbc.password=password
jdbc.proxool.maximum-connection-count=10
jdbc.proxool.house-keeping-test-sql=select CURRENT_DATE

# Admin users are sent all notiifcations as well as having access 
# to all posts from the /firehose node (not just from public channels)
users.admin = user1@example.com;crawler@searchengine.org
