jdbc-0.proxool.alias=channelserver
jdbc-0.proxool.driver-url=jdbc:postgresql://10.66.2.93:5432/buddycloud
jdbc-0.proxool.driver-class=org.postgresql.Driver
jdbc-0.user=buddycloud
jdbc-0.password=buddycloud
jdbc-0.proxool.maximum-connection-count=10
jdbc-0.proxool.house-keeping-test-sql=select CURRENT_DATE